ea.png
example-ea-ufrgs-beamer.aux
example-ea-ufrgs-beamer.log
example-ea-ufrgs-beamer.nav
example-ea-ufrgs-beamer.out
example-ea-ufrgs-beamer.snm
example-ea-ufrgs-beamer.synctex.gz
example-ea-ufrgs-beamer.toc
example-ea-ufrgs-beamer.vrb
texput.log
